/target/**
/.idea/**
/.allure/**
allure-results/**
allure-report/**
*.class
screenshots/**
Screenshots/**
Screenshots2/**
*.html
*.png
*.class
*.jpg
*.jar
*-container.json
test-output/**
target/**
reports/*
/ATTTE/allure-results/**
/ATTTE/target/**
/DHP/allure-results/**
/DHP/target/**
/DSSUI/allure-results/**
/DSSUI/target/**
